<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.backposturecorrector">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackPostureCorrector">
        <activity android:name="com.example.backposturecorrector.MainActivity" />
        <activity android:name="com.example.backposturecorrector.register.RegisterActivity" />
        <activity android:name="com.example.backposturecorrector.register.RegisterError" />
        <activity android:name="com.example.backposturecorrector.login.LoginErrorActivity" />
        <activity android:name="com.example.backposturecorrector.user.profile.UserFormActivity" />
        <activity android:name="com.example.backposturecorrector.calibration.StartCalibrationActivity" />
        <activity android:name="com.example.backposturecorrector.calibration.RightHandCalibrationActivity" />
        <activity android:name="com.example.backposturecorrector.calibration.LeftHandCalibrationActivity" />
        <activity android:name="com.example.backposturecorrector.calibration.BothHandsCalibrationActivity" />
        <activity android:name="com.example.backposturecorrector.calibration.StraightBackCalibrationActivity" />
        <activity android:name="com.example.backposturecorrector.calibration.EndCalibrationActivity" />
        <activity android:name="com.example.backposturecorrector.statistics.WeeklyStatisticsActivity" />
        <activity android:name="com.example.backposturecorrector.statistics.AnnualStatisticsActivity" />
        <activity android:name="com.example.backposturecorrector.TestActivity" />
        <activity android:name="com.example.backposturecorrector.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        </application>

</manifest>